/* MAIN: ------------------------------------ */
.main--contact{
    display: grid !important;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------------ */


/* HEADLINE: -------------------------------- */
.main__section__h2{
    text-align: left;
    font-weight: 100;
    letter-spacing: 3px;
    border-bottom: 2px solid rgb(26, 63, 8);
    color: rgb(26, 63, 8);
    margin-bottom: 10px;
}
/* ------------------------------------------ */


/* FORM: ------------------------------------ */
.form{
    display: grid;
    background: rgb(230, 236, 236);
    padding: 20px;
    box-sizing: border-box;
    grid-template-areas:
            'headline'
            'firstName'
            'lastName'
            'email'
            'topic'
            'message'
            'btn'
            'feedback'
        ;
}
/* ------------------------------------------ */


/* FORM: SECTION ---------------------------- */
.form__section--firstName{
    grid-area: firstName;
}

.form__section--lastName{
    grid-area: lastName;
}

.form__section--email{
    grid-area: email;
}

.form__section--topic{
    grid-area: topic;
}

.form__section--message{
    grid-area: message;
}

.form__section--btn{
    grid-area: btn;
}

.form_section--feedback{
    grid-area: feedback;
}
/* ------------------------------------------ */


/* FORM: H5 --------------------------------- */
.form__section__h5{
    padding-bottom: 5px;
    font-size: 16px;
}
/* ------------------------------------------ */


/* FORM: INPUT ------------------------------ */
.form__section__block__textarea,
.form__section__block__input{
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    margin-bottom: 15px;
}

.form__section__block__textarea{
    height: 150px;
}

.form__section__block__input{
    height: 60px;
}

.form__section__block__textarea:focus,
.form__section__block__input:focus{
    outline: 2px solid rgb(26, 63, 8);
}
/* ------------------------------------------ */


/* FORM: ERROR ------------------------------ */
.error,
.form_section--feedback{
    display: none;
}

.error{
    color: rgb(192, 0, 0);
}
/* ------------------------------------------ */


/* FORM: BUTTON ----------------------------- */
.form__section--btn{
    text-align: center;
}
/* ------------------------------------------ */


/* FORM: FEEDBACK MESSAGE ------------------- */
.form_section--feedback{
    text-align: center;
    font-size: 25px;
    background: transparent;
    padding: 20px 10px;
}

.form_section--feedback p:nth-child(1){
    padding-bottom: 20px;
}
/* ------------------------------------------ */


/* CONTACT INFORMATION: --------------------- */
.contact-information__section{
    width: 100%;
    padding-bottom: 20px;
}

.contact-information__section:first-of-type{
    margin-top: 20px;
}

.contact-information__section__label{
    background: rgb(230, 236, 236);
    width: 100%;
    padding: 20px;
    display: block;
    text-transform: uppercase;
}

.contact-information__section__input{
    display: none;
}

.contact-information__section__block{
    background: rgb(243, 243, 243);
    padding: 20px;
}

.contact-information__section__block__iframe{
    margin-top: 20px;
    width: 100%;
    height: 250px;
}
/* ------------------------------------------ */


/* TOGGLE/CHECKBOX: ------------------------- */
.contact-information__section__block--1,
.contact-information__section__block--2,
.contact-information__section__block--3,
.contact-information__section__block--4{
    display: none;
}

#one:checked ~ .contact-information__section__block--1,
#two:checked ~ .contact-information__section__block--2,
#three:checked ~ .contact-information__section__block--3,
#four:checked ~ .contact-information__section__block--4{
    display: block;
}
/* ------------------------------------------ */


/* Mobile: ---------------------------------- */
@media screen and (max-width: 650px) {

    .header--contact{
        background-position: 0% 0%;
    }

    .header__h1{
        position: relative;
        font-size: 35px;
        padding: 50% 10px 50px 10px;
    }

    .header__h2{
        position: relative;
        text-align: center;
        padding: 0 10px;
        font-size: 18px;
    }

    .main--contact{
        grid-template-columns: 1fr;
        grid-gap: 70px;
        padding: 0 10px;
        margin: 20px 0;
    }

    .form{
        grid-gap: 20px;
        grid-template-columns: 100%;
    }
}
/* ------------------------------------------ */


/* Tablet: ---------------------------------- */
@media screen and (min-width: 651px) and (max-width: 1025px){
    .header--contact{
        background-position: 0% 0%;
    }

    .header__h1{
        top: 40%;
        left: 40%;
        transform: translate(-40%, -40%);
        font-size: 45px;
        width: 480px;
        padding: 0 20px;
    }

    .header__h2{
        top: 48%;
        left: 50%;
        transform: translate(-48%, -50%);
        width: 480px;
        padding: 0 20px;
        font-size: 25px;
    }

    .main--contact{
        grid-template-columns: 1fr;
        grid-gap: 70px;
        padding: 0 20px;
        margin: 30px 0;
    }

    .form{
        grid-gap: 30px;
        grid-template-columns: 48% 48%;
        grid-template-areas:
            'headline   headline'
            'firstName  lastName'
            'email      topic'
            'message    message'
            'btn        btn'
            'feedback   feedback'
        ;
    }
}
/* ------------------------------------------ */


/* Laptop: ---------------------------------- */
@media screen and (min-width: 1026px) and (max-width: 1600px) {
    .header--contact{
        background-position: 50% 0%;
    }

    .header__h1{
        top: 20%;
        left: 3%;
    }

    .header__h2{
        top: 30%;
        left: 10%;
    }

    .main--contact{
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        padding: 0 30px;
        margin: 40px auto;
        max-width: 1300px;
    }

    .form{
        grid-template-areas:
            'headline   headline'
            'firstName  lastName'
            'email      topic'
            'message    message'
            'btn        btn'
            'feedback   feedback'
        ;
        grid-gap: 30px;
        grid-template-columns: 48% 48%;
    }
}
/* ------------------------------------------ */


/* Desktop: --------------------------------- */
@media screen and (min-width: 1601px){
    .main--contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px;
        margin: 100px 50px;
    }

    .form{
        width: 100%;
        grid-template-areas:
            'headline   headline'
            'firstName  lastName'
            'email      topic'
            'message    message'
            'btn        btn'
            'feedback   feedback'
        ;
        grid-gap: 30px;
    }
}
/* ------------------------------------------ */