/* FONTS:
NAVIGATION TOP FONT: font-family: 'Kodchasan', sans-serif;
HEADLINE FONT: font-family: 'Thasadith', sans-serif;
SUBHEADLINE FONT: font-family: 'Livvic', sans-serif;
BODY FONT: font-family: 'Darker Grotesque', sans-serif;
------------------------------------------------------------*/

/* COLOUR PALETTE:
#59AA33; - Dark green
#A0E95A; - Green
#99BF93; - Light green
#1A1A1A; - Dark grey
#F25353; - Red
------------------------------------------------------------*/

/* HOME GLOBAL
------------------------------------------------------------*/
.middle-box p{
  text-align: center;
}

.middle-box a{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.middle-box a:hover{
  border-bottom: 0px solid black;
}

.middle-box h1, h2{
  margin: 10px;
  text-align: center;
}

#enviorment{
  color: #59AA33;
  text-align: center;
}

.home-flexbox a, a h2{
  color: black;
  text-decoration: none;
  text-align: center;
}

.home-flexbox{
  display: flex;
}

.home-flex1{
  flex: 1;
  background: #F25353;
  margin: 5px 10px ;
  padding: 25px 20px;
  border-radius: 10px;
}

.home-flex2{
  flex: 1;
  background: #59AA33;
  margin: 5px 10px ;
  padding: 25px 20px;
  border-radius: 10px;
}

.home-flex3{
  flex: 1;
  background: #A0E95A;
  margin: 5px 10px ;
  padding: 25px 20px;
  border-radius: 10px;
}

.home-flex1:hover,.home-flex2:hover,.home-flex3:hover{
  background-color: #99BF93;
}

.home-flex1:active,.home-flex2:active,.home-flex3:active{
  background-color: #B3B3B3;
}

/* HOME MOBILE
------------------------------------------------------------*/
@media only screen and (max-width: 480px){
  .mobile-image{
    top: 0;
    left: 0;
    width: 100%;
  }

  .tablet-image, .desktop-image{
    display: none;
  }

  .middle-box h2{
    font-size: 20px;
    margin: 20px 0 30px 0;
  }

  .middle-box p{
    margin: 10px;
    font-size: 22px;
  }

  .middle-box a{
    font-size: 22px;
  }

  .home-flexbox{
    flex-direction: column;
  }

  .home-flexbox a, a h2{
    font-size: 1.1em;
  }
}

/* HOME TABLET
------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  .mobile-image, .desktop-image{
    display: none;
  }

  .tablet-image{
    top: 0;
    left: 0;
    width: 100%;
  }

  .middle-box h2{
    font-size: 28px;
    margin: 20px 0 30px 0;
  }

  .middle-box p{
    margin: 10px 30px;
    font-size: 25px;
  }

  .middle-box a{
    font-size: 25px;
  }

  .home-flexbox{
    flex-direction: column;
    width: 100%
  }

  #enviorment{
    font-size: 32px;
  }

  .home-flexbox a, a h2{
    font-size: 28px;
  }
}

/* HOME DESKTOP
------------------------------------------------------------*/
@media only screen and (min-width: 1025px){
  .tablet-image, .mobile-image{
    display: none;
  }

  .desktop-image{
    top: 0;
    left: 0;
    width: 100%;
  }

  .middle-box{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
    padding: 10px;
  }

  .middle-box p{
    font-size: 28px;
    padding: 10px;
  }

  .middle-box h2{
    font-size: 40px;
    margin: 10px 0 25px 0;
  }

  .home-flexbox a h2{
    font-size: 25px;
  }

  .home-flexbox{
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 967px;
  }
}

/* TOURS GLOBAL
------------------------------------------------------------*/
.tours-flexbox-container{
  display: flex;
}

.tours-flexbox-subcontainer1{
  display: flex;
  flex: 1;
}

.tours-flexbox-subcontainer2{
  display: flex;
  flex: 1;
}

.tours-flexbox-container ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.tours-flexbox-container img{
  width: 100% ;
  border-radius: 10px;
}

.tours-flex1{
  flex: 1;
  margin: 10px 5px;
  padding: 15px;
  border: 1.5px dashed black;
  border-radius: 5px;
}

.tours-flex2{
  flex: 1;
  margin: 10px 5px;
  padding: 15px;
  border: 1.5px dashed black;
  border-radius: 5px;
}

.tours-flex3{
  flex: 1;
  margin: 10px 5px;
  padding: 15px;
  border: 1.5px dashed black;
  border-radius: 5px;
}

.tours-flex4{
  flex: 1;
  margin: 10px 5px;
  padding: 15px;
  border: 1.5px dashed black;
  border-radius: 5px;
}

.extra-info{
  margin-left: 5px;
  margin-top: 0;
}

.extra-info h2{
  text-align: left;
  margin: 20px 0 0 0;
  padding: 0;
}

.extra-info ul{
  margin: 0;
  padding: 0 0 0 25px;
  list-style: initial;
}

.tours-map{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

.button{
  background-color: #F25353;
  border-radius: 10px;
  text-align: center;
  padding: 15px 10px;
}

.tours-flexbox-container a{
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.button:hover{
  background-color: #99BF93;
}

.button:active{
  background-color: #A0E95A;
}

/* TOURS MOBILE
------------------------------------------------------------*/
@media only screen and (max-width: 480px){
  .tours-flexbox-container{
    flex-direction: column;
  }

  .tours-flexbox-subcontainer1{
    flex-direction: column;
  }

  .tours-flexbox-subcontainer2{
    flex-direction: column;
  }

  .tours-flexbox-container h2{
    font-size: 25px;
    text-align: left;
  }

  .extra-info h2{
    font-size: 21px;
  }
}

/* TOURS TABLET
------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  .tours-flexbox-container{
    flex-direction: column;
  }

  .extra-info{
    margin-left: 20px;
  }
}

/* TOURS DESKTOP
------------------------------------------------------------*/
@media only screen and (min-width: 1025px){
  .tours-flexbox-container h2{
    font-size: 28px;
  }

  .extra-info{
    margin-left: 30px;
  }
}

/* CONTACT GLOBAL
------------------------------------------------------------*/
.contact-info{
  margin: 5px 10px 20px 10px;
}

.travel{
  margin: 5px 10px 20px 10px;
}

.contact-info p, h3{
  padding: 2px 0;
}

.contact-info h2{
  padding: 8px 0;
}

.contact-info h3{
  padding-top: 10px;
}

.travel p{
  margin: 0 0 10px 0;
}

.travel a{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.travel a:hover{
  border-bottom: 0px solid black;
}

.contact-links{
  margin: 30px 0;
}

/* CONTACT MOBILE
------------------------------------------------------------*/
@media only screen and (max-width: 480px){
  .contact-info p, h2, h3{
    text-align: center;
  }

  .travel p, h2, h3{
    text-align: center;
  }

  .contact-info h2{
    font-size: 23px;
  }

  .travel iframe{
    width: 100%;
    border-radius: 10px;
    height: 250px;
  }

  .contact img{
    display: none;
  }
}

/* CONTACT TABLET
------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  .contact{
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }

  .contact h1, h2{
    text-align: left;
    margin-left: 10px;
  }

  .travel iframe{
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }

  .contact img{
    display: none;
  }
}

/* CONTACT DESKTOP
------------------------------------------------------------*/
@media only screen and (min-width: 1025px){
  .contact{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }

  .contact h1, h2{
    text-align: left;
    margin-left: 10px;
  }

  .travel iframe{
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }

  .contact img{
    float: right;
    width: 100%;
    max-width: 525px;
    margin-right: 10px;
  }
}

/* ABOUT GLOBAL STYLES
------------------------------------------------------------*/
.about img{
  width: 100%;
  padding-bottom: 20px;
}

.about div{
  margin: 10px 5px 25px 5px;
}

.charity a{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

/* ABOUT MOBILE
------------------------------------------------------------*/
@media only screen and (max-width: 480px){
  .about div{
    text-align: center;
  }

  .charity a{
    text-align: center;
    font-size: 19px;
  }

  .charity a:hover{
    border-bottom: 0px solid black;
  }

  .you ul{
    padding: 0 10px;
    margin: 0 0 0 20px;
    font-size: 19px;
    text-align: left;
  }

  .charity-image{
    width: 100%;
  }

  .group2{
    display: none;
  }

  .group1{
    width: 100%;
  }

  #charity-image{
    display: none;
  }
}

/* ABOUT TABLET
------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  #charity-image{
    float:right;
    width: 38%;
    margin: 10px 0 5px 10px;
  }

  .charity-image{
    display: none;
  }

  .group2{
    display: none;
  }

  .group1{
    width: 100%;
  }
}

/* ABOUT DESKTOP
------------------------------------------------------------*/
@media only screen and (min-width: 1025px){
  .group1{
    display: none;
  }

  .about h1{
    text-align: center;
  }

  .who img{
    float: right;
    width: 40%;
    margin: 40px 0px 5px 10px;
  }

  #charity-image{
    float:left;
    width: 40%;
    margin: 10px 15px 5px 0px;
  }

  .charity-image{
    display: none;
  }

  .about{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }

  .about h1, h2{
    text-align: left;
    margin-left: 10px;
  }

  .clearfix{
    clear: both;
  }
}
