/* HEADER: ------------------------------------------- */
.header__h1{
  text-transform: uppercase;
  margin: 30px;
}
/* --------------------------------------------------- */


/* MAIN: --------------------------------------------- */
.main{
  display: block;
  padding: 0;
}

.main--grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.main__section--grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
}

/* tours: */
.main__section--tours{
  display: grid;
  margin: 60px;
}

.main__section--tour__section{
  display: grid;
  margin-bottom: 60px;
  
}

.main__section--tour__section:last-child{
  margin-bottom: 0px;
}

.main__section--tour__section__block{
  padding: 20px;
}

.main__section--tour__section__block__list{
  padding: 0;
  margin: 20px 0;
}

.main__section--tour__section__block__list li{
  list-style: none;
}

.main__section--tour__section__iframe{
  width: 100%;
  box-sizing: border-box;
}

.main__section__section{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: linear-gradient(150deg, rgb(245, 255, 112), rgb(104, 179, 44), rgb(3, 80, 9));
  background: #FFF;
}

/* order: */
.main__section--order{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* background: linear-gradient(-90deg, rgb(0, 0, 0, 0), rgba(82, 241, 95, 0.3),  rgba(138, 223, 2, 0.3)); */
  /* background: rgb(230, 255, 219); */
}

/* form: */
.main__section__form--order{
  padding: 20px;
  display: grid;
  grid-template-areas: 
    'headline headline'
    'firstName lastName'
    'email tour'
    'message message'
    'btn btn'
    'feedback feedback'
    ;
    grid-gap: 30px;
    margin-left:30px;
}

.form__section__input,
.form__section__select{
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 0;
  border: 1px solid rgb(26, 63, 8);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  /* background: rgb(235, 240, 240); */
}

.form__section__textarea{
  height: 180px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 0;
  border: 1px solid rgb(26, 63, 8);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.form__section__h5{
  margin: 0px;
  text-transform: uppercase;
}

.form__h2{
  grid-area: headline;
  text-align: center;
  background: #59AA33;
  color: #000;
  padding: 20px 0px;
  font-weight: 300;
}

.form__section--firstName{
  grid-area: firstName;
}

.form__section--lastName{
  grid-area: lastName;
}

.form__section--email{
  grid-area: email;
}

.form__section--tour{
  grid-area: tour;
}

.form__section--message{
  grid-area: message;
}

.form__section--button{
  grid-area: btn;
  display: grid;
  align-items: center;
  justify-items: center;
}

.form__section--feedback{
  grid-area: feedback;
  text-align: center;
  font-size: 25px;
  padding-bottom: 30px;
  display: none;
}

.main__section__block{
  padding: 20px;
}

.form__section__block--error{
  display: none;
  color: rgb(194, 0, 0);
  font-weight: 600;
}

.form__section__input:focus,
.form__section__textarea:focus,
.form__section__select{
    outline: 2px solid transparent;
}
/* --------------------------------------------------- */


/* BUTTONS: ------------------------------------------ */
.button{
  border: 0px solid transparent; 
  padding: 20px 50px;
  margin-top: 30px;
  font-size: 30px;
  border-radius: 50px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  font-family: 'Livvic', sans-serif;
  text-transform: uppercase;
  transition: .2s ease-in-out;
}

.button:hover{
  /* padding: 20px 80px; */
  cursor: pointer;
}

.button--green{
  background: linear-gradient(150deg, rgb(144, 235, 26), rgb(43, 100, 16));
  background: #59AA33;
  border-radius: 0;
}

.button--green:hover{
  background:  linear-gradient(150deg,rgb(230, 250, 55),rgb(7, 122, 69));
  background: rgb(26, 53, 13);
  color: #FFF;
}

.button--red{
  background: linear-gradient(150deg, rgb(248, 58, 84), rgb(94, 11, 25));
  color: #FFF;
}

.button--red:hover{
  background:  linear-gradient(150deg,rgb(248, 58, 175),rgb(71, 11, 94));
}

.button--cta{
  border: 0px solid transparent;
  background: linear-gradient(150deg,rgb(144, 235, 26),rgb(43, 100, 16));
  text-transform: uppercase;
  padding: 30px 50px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 400;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  font-family: 'Livvic', sans-serif;
  transition: .5s ease-in-out;
  color: #000;
}

.button--cta:hover{
  padding: 30px 70px;
  background: linear-gradient(150deg,rgb(230, 250, 55),rgb(7, 122, 69));
  cursor: pointer;
}
/* --------------------------------------------------- */


/* LINKS: -------------------------------------------- */
.link{
  color: rgb(19, 48, 6);
  font-weight: 600;
}

.link:hover{
  text-decoration: none;
}
/* --------------------------------------------------- */


/* MOBILE: ------------------------------------------- */
@media only screen and (max-width: 480px){
  .main__section--about{
    grid-template-columns: 1fr;
  }

  .main__section--tours{
    margin: 20px;
  }

  .main__section--tour__section{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .main__section--tour__section__block__h2{
    text-align: left;
  }

  .main__section--tour__section__iframe{
    height: 300px;
  }

  .main__section--order{
    display: grid;
    grid-template-columns: 1fr;
  }

  .main__section__form--order{
    margin: 0;
    grid-template-areas:
        'headline '
        'firstName'
        'lastName'
        'email '
        'tour'
        'message'
        'btn'
        'feedback';
  }
}
/* --------------------------------------------------- */

/* TABLET: ------------------------------------------- */
@media only screen and (min-width: 481px) and (max-width:1024px){
  .main__section--order{
    display: grid;
    grid-template-columns: 1fr;
  }

  .main__section--tour__section__iframe{
    height: 300px;
  }

  .main__section--tours{
    margin: 20px;
    grid-gap: 20px;
  }

  .main__section--tour__section{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
}
/* --------------------------------------------------- */


/* DESKTOP: ------------------------------------------ */
@media only screen and (min-width: 1025px){
  .main__section--tour__section__iframe{
    height: 100%;
  }

  .main__section__block--info{
    padding-top: 120px;
    padding-left: 50px;
  }
}
/* --------------------------------------------------- */


/* ABOUT GLOBAL STYLES
------------------------------------------------------------*/
.about img{
  width: 100%;
  padding-bottom: 20px;
}

.about div{
  margin: 10px 5px 25px 5px;
}

.charity a{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

/* ABOUT MOBILE
------------------------------------------------------------*/
@media only screen and (max-width: 480px){
  .main__section--tour__section{
    grid-template-columns: 1fr;
  } 

  .button{
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  .button:hover{
    padding: 20px 50px;
  }


  .about div{
    text-align: center;
  }

  .charity a{
    text-align: center;
    font-size: 19px;
  }

  .charity a:hover{
    border-bottom: 0px solid black;
  }

  .you ul{
    padding: 0 10px;
    margin: 0 0 0 20px;
    font-size: 19px;
    text-align: left;
  }

  .charity-image{
    width: 100%;
  }

  .group2{
    display: none;
  }

  .group1{
    width: 100%;
  }

  #charity-image{
    display: none;
  }

  .form__h2{
    font-size: 23px;
  }
}

/* ABOUT TABLET
------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  .main__section--tours{
    grid-template-columns: 1fr 1fr;
  }

  .main__section--tour__section{
    grid-template-columns: 1fr;
  }

  #charity-image{
    float:right;
    width: 38%;
    margin: 10px 0 5px 10px;
  }

  .charity-image{
    display: none;
  }

  .group2{
    display: none;
  }

  .group1{
    width: 100%;
  }
}

/* ABOUT DESKTOP
------------------------------------------------------------*/
@media only screen and (min-width: 1025px){
  .main__section--tour__section{
    grid-template-columns: 1fr 1fr 1fr;
  }






  .group1{
    display: none;
  }

  .about h1{
    text-align: center;
  }

  .who img{
    float: right;
    width: 40%;
    margin: 40px 0px 5px 10px;
  }

  #charity-image{
    float:left;
    width: 40%;
    margin: 10px 15px 5px 0px;
  }

  .charity-image{
    display: none;
  }

  .about{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }

  .about h1, h2{
    text-align: left;
    margin-left: 10px;
  }

  .clearfix{
    clear: both;
  }
}
