/* FONTS FOR TONNESSEN.COM NAVIGATION: */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');  /* Headlines | font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');   /* Body | font-family: 'Open Sans', sans-serif; */

/* NAVIGATION FOR WWW.TONNESSEN.COM:
------------------------------------------------------------------------------*/
.nav-tonnessen{
  font-family:'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
